h1{
  text-align: center;
  color:  #1976d2;
}

.container{
  max-width: 1000px;
  margin: 50px auto;
}

.content{
  max-width: 1000px;
  margin:50px auto;
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
}
